* {
    margin: 0;
    padding: 0;
    @include setBrowserPrefix(box-sizing, border-box);
}

body {
    font-family: $font-noto-serif-display;
    font-size: $font-size-default;
    font-weight: $font-weight-text-normal;
    color: $color-night;
    background-color: $color-white-smoke;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-cinzel-decorative;
    font-weight: $font-weight-title;
}

a {
    text-decoration: none;
    color: inherit;
    @include transition;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.4;
}

img {
    width: auto;
    max-width: 100%;
}

@include theme() {
    &button {
        display: inline-block;
        padding: 12px 24px;
        background-color: $color-battleship-gray;
        cursor: pointer;
        border: 1px solid transparent;
        font-family: $font-cinzel;
        text-align: center;
        font-size: 1.1em;

        &.primary {
            background-color: $color-murrey;
            border-color: $color-murrey;
            
            &.outline {
                color: $color-murrey;
            }
        }

        &.secondary {
            background-color: $color-old-gold;
            color: $color-night;
        }

        &.outline {
            background-color: transparent;
        }
    }
}