@include profileTheme() {
    &user {
        @include containerFluid;

        &__container {
            @include container;
            @include flex;
            row-gap: 20px;
            padding-top: 140px;

            @include setResponsiveDesign($breakpoint-large) {
                justify-content: space-between;
                @include rowReverse;
            }
        }

        &__photo {
            @include flexBasis(120px);
            border: 3px solid $color-claret;
            overflow: hidden;
            @include rounded;
            @include flex;
            @include relative;

            &:hover {
                .etl-profile-user__photo-change {
                    visibility: visible;
                    opacity: 1;
                }
            }

            img {
                width: 120px;
                height: 120px;
                object-fit: cover;
                object-position: center;
            }

            &-change {
                @include absoluteFull(unset);
                @include flex;
                @include transition;
                font-size: 1.6em;
                color: $color-white-smoke;
                bottom: 0;
                height: 50%;
                background-image: $color-night-gradient-2;
                visibility: hidden;
                opacity: 0;
            }
        }

        &__info {
            @include flex1;
            text-align: center;
            color: $color-claret;

            @include setResponsiveDesign($breakpoint-large) {
                @include flexBasis(unset);
                text-align: left;
            }
        }

        &__name {
            margin-bottom: 10px;
        }

        &__email {
            @include flex;
            @include column;
            gap: 20px;

            @include setResponsiveDesign($breakpoint-large) {
                @include row;
                justify-content: flex-start;
            }
        }

        &__edit {
            font-family: $font-cormorant-garamond;
            font-weight: 600;

            &:hover {
                color: $color-white-smoke !important;
                background-color: $color-murrey !important;
            }
        }
    }
}