@include platesTheme() {
    &plates {
        &__section {
            @include containerFluid;
        }

        &__container {
            @include container;
        }

        &__description {
            margin-bottom: 60px;

            @include setResponsiveDesign($breakpoint-large) {
                width: 50%;
            }
        }

        &__list {
            margin-top: 60px;

            &-title {
                margin-bottom: 40px;

                h3 {
                    color: $color-night;
                }
            }
        }

        &__by-category {
            @include flex(flex-start, stretch);
            gap: 20px;

            &:not(:last-child) {
                margin-bottom: 60px;
            }
        }

        &__plate {
            @include relative;
            height: 440px;
            @include flex1;

            @include setResponsiveDesign($breakpoint-medium) {
                @include flex2(20px);
            }

            @include setResponsiveDesign($breakpoint-large) {
                @include flex3(20px);
            }

            &-image {
                @include containerFluid(true);
                object-fit: cover;
                object-position: center;
            }

            &-info {
                @include absoluteFull(unset, 20px);
                max-width: calc(100% - 40px);
                bottom: 20px;
                right: 20px;
                padding: 20px;
                background-color: $color-old-gold-overlay;
                backdrop-filter: blur(8px);
            }

            &-name {
                margin-bottom: 10px;

                h4 {
                    font-family: $font-cinzel;
                    font-size: 0.9em;
                    line-height: 1;
                    color: $color-night;
                }
            }

            &-description {
                line-height: 1;
                color: $color-night;
                margin-bottom: 10px;
            }

            &-price {
                font-size: 1.4em;
                font-family: $font-cinzel-decorative;
                font-weight: $font-weight-title;
                text-align: right;
            }
        }
    }
}