@include homeTheme() {
    &presentation2 {
        @include containerFluid;

        &__container {
            @include container($breakpoint-medium);
            @include flex(space-between);
            gap: 40px;
            padding-top: 0;

            @include setResponsiveDesign($breakpoint-xx-large) {
                flex-direction: row-reverse;
                max-width: $container-width;
            }
        }

        &__image {
            @include flex1;

            @include setResponsiveDesign($breakpoint-xx-large) {
                @include flex2(40px);
                height: 100%;
            }

            img {
                height: 100%;
                box-shadow: 0 0 20px $color-murrey-subtle-shadow;
            }
        }

        &__info {
            @include flex1;
            text-align: center;

            @include setResponsiveDesign($breakpoint-xx-large) {
                @include flex2(40px);
                text-align: left;
            }
        }

        &__title {
            margin-bottom: 20px;

            h2 {
                font-size: 1.3em;

                @include setResponsiveDesign($breakpoint-medium) {
                    font-size: 1.8em;
                }
            }
        }

        &__text {
            margin-bottom: 40px;
        }

        &__cta {
            a {
                @include containerFluid;
                
                @include setResponsiveDesign($breakpoint-small, true) {
                    font-size: 0.8em;
                }

                @include setResponsiveDesign($breakpoint-small) {
                    width: auto;
                }
            }
        }
    }
}