/* FONTS BY GOOGLE FONTS (https://fonts.google.com/) */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");
/* BOOT CONFIG */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif Display", serif;
  font-size: 1rem;
  font-weight: 200;
  color: #131011;
  background-color: #F6F4F5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  color: #6F0231;
}

a {
  text-decoration: none;
  color: #9A0245;
  transition: all 0.3s ease 0s;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.4;
}

img {
  width: auto;
  max-width: 100%;
}

.etl-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #8A8A8A;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 1.1em;
  color: #F6F4F5;
}
.etl-button.primary {
  background-color: #9A0245;
  border-color: #9A0245;
}
.etl-button.primary.outline {
  color: #9A0245;
}
.etl-button.secondary {
  background-color: #E2BF4E;
  color: #131011;
}
.etl-button.outline {
  background-color: transparent;
}

/* HEADER CONFIG */
.etl-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(#131011, rgba(19, 16, 17, 0));
  transition: all 0.3s ease 0s;
}
.etl-header.scrolling {
  background-color: #131011;
}
.etl-header.scrolling .etl-header__container {
  padding-block: 20px;
}
.etl-header__container {
  max-width: 1260px;
  padding: 40px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 0.3s ease 0s;
}
.etl-header__logo h1 {
  display: none;
}
.etl-header__logo img {
  width: 120px;
}
@media screen and (min-width: 768px) {
  .etl-header__logo img {
    width: 160px;
  }
}
.etl-header__navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 20px;
}
@media screen and (min-width: 768px) {
  .etl-header__navigation {
    column-gap: 40px;
  }
}
@media screen and (min-width: 992px) {
  .etl-header__navigation {
    flex-direction: row-reverse;
  }
}
.etl-header__navigation.open-menu .etl-header__navigation-overlay {
  visibility: visible;
  opacity: 1;
}
.etl-header__navigation.open-menu .etl-header__navigation-menu-wrapper {
  right: 0;
}
.etl-header__navigation-profile, .etl-header__navigation-cart, .etl-header__navigation-menu-icon {
  position: relative;
  z-index: 110;
}
.etl-header__navigation-profile > a, .etl-header__navigation-cart > a, .etl-header__navigation-menu-icon > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.etl-header__navigation-profile img, .etl-header__navigation-cart img, .etl-header__navigation-menu-icon img {
  height: 16px;
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-profile img, .etl-header__navigation-cart img, .etl-header__navigation-menu-icon img {
    width: 30px;
  }
}
.etl-header__navigation-profile {
  display: none;
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-profile {
    display: block;
  }
}
.etl-header__navigation-menu-icon {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-menu-icon {
    display: none;
  }
}
.etl-header__navigation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(19, 16, 17, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-overlay {
    position: static;
    visibility: visible !important;
    opacity: 1 !important;
    background: none;
  }
}
.etl-header__navigation-menu-wrapper {
  max-width: 560px;
  background-color: #9A0245;
  position: absolute;
  top: 0;
  left: unset;
  width: 100%;
  height: 100%;
  right: -100%;
  padding: 110px 20px 20px 20px;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 768px) {
  .etl-header__navigation-menu-wrapper {
    padding-inline: 60px;
  }
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-menu-wrapper {
    max-width: none;
    background: none;
    position: static;
    padding: 0;
  }
}
.etl-header__main-menu {
  overflow-y: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 60px 40px;
}
@media screen and (min-width: 992px) {
  .etl-header__main-menu {
    height: auto;
    flex-direction: row;
  }
}
.etl-header__main-menu-item {
  text-align: right;
}
.etl-header__main-menu-item a {
  font-family: "Cinzel", serif;
  color: #F6F4F5;
  font-size: 2.2em;
}
@media screen and (min-width: 992px) {
  .etl-header__main-menu-item a {
    font-family: "Noto Serif Display", serif;
    font-weight: 500;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 992px) {
  .etl-header__main-menu-item.last-item {
    display: none;
  }
}

/* FOOTER CONFIG */
.etl-footer {
  width: 100%;
  background-color: #131011;
  color: #F6F4F5;
  text-align: center;
}
.etl-footer__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
  row-gap: 40px;
}
.etl-footer__logo {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-footer__logo {
    flex-basis: unset;
    text-align: left;
  }
}
.etl-footer__logo img {
  width: 120px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .etl-footer__logo img {
    width: 160px;
  }
}
.etl-footer__logo-subtitle {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-size: 0.9em;
}
.etl-footer__menu {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-footer__menu {
    flex-basis: unset;
    text-align: right;
  }
}
.etl-footer__menu-title {
  margin-bottom: 20px;
}
.etl-footer__menu-title h2 {
  color: #E2BF4E;
}
.etl-footer__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px 60px;
}
@media screen and (min-width: 768px) {
  .etl-footer__menu-list {
    flex-direction: row;
  }
}
.etl-footer__menu-item a {
  font-weight: 500;
  color: #E2BF4E;
}
.etl-footer__attribution {
  padding: 20px;
  font-size: 0.7em;
}
.etl-footer__attribution a {
  font-weight: 500;
}

/* HOME PAGE CONFIG */
/* Hero section */
.etl-home-hero {
  width: 100%;
  background-image: url("../../../assets/images/mobile-hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
  color: #F6F4F5;
  text-align: center;
}
.etl-home-hero__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.etl-home-hero__subtitle {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .etl-home-hero__subtitle {
    font-size: 1.2em;
  }
}
.etl-home-hero__title {
  margin-bottom: 40px;
}
.etl-home-hero__title h1 {
  color: #E2BF4E;
  font-size: 2.2em;
}
@media screen and (min-width: 768px) {
  .etl-home-hero__title h1 {
    font-size: 3em;
  }
}
@media screen and (min-width: 992px) {
  .etl-home-hero__title h1 {
    font-size: 4em;
  }
}
.etl-home-hero__headline {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.1em;
  max-width: 480px;
  padding: 0 0;
  margin-inline: auto;
}
@media screen and (min-width: 992px) {
  .etl-home-hero__headline {
    max-width: 740px;
    font-size: 1.6em;
  }
}
.etl-home-hero__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}
@media screen and (min-width: 576px) {
  .etl-home-hero__cta {
    flex-direction: row;
  }
}
.etl-home-hero__cta .etl-button {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .etl-home-hero__cta .etl-button {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .etl-home-hero__cta .etl-button {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 992px) {
  .etl-home-hero__cta .etl-button {
    font-size: 1.8em;
  }
}

/* Presentation section */
.etl-home-presentation {
  width: 100%;
}
.etl-home-presentation__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.etl-home-presentation__item {
  flex-basis: 100%;
  background-color: #9A0245;
  text-align: center;
  color: #F6F4F5;
  max-width: 480px;
  padding: 0 0;
  margin-inline: auto;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  .etl-home-presentation__item {
    flex-basis: calc(33.3333333333% - 13.3333333333px);
  }
}
.etl-home-presentation__item:nth-child(even) {
  background-color: #6F0231;
}
.etl-home-presentation__item-image {
  width: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
}
.etl-home-presentation__item-title {
  margin-bottom: 20px;
}
.etl-home-presentation__item-title h2 {
  color: #F6F4F5;
}

.etl-home-contact {
  width: 100%;
  text-align: center;
}
.etl-home-contact__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
}
@media screen and (min-width: 992px) {
  .etl-home-contact__container {
    flex-wrap: nowrap;
  }
}
.etl-home-contact__info {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-home-contact__info {
    flex-basis: 60%;
    text-align: left;
  }
}
.etl-home-contact__title {
  margin-bottom: 40px;
}
.etl-home-contact__text {
  font-size: 1.1em;
}
.etl-home-contact__links {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-home-contact__links {
    flex-basis: 40%;
  }
}
.etl-home-contact__links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 20px;
}
@media screen and (min-width: 992px) {
  .etl-home-contact__links-list {
    justify-content: flex-end;
  }
}
.etl-home-contact__links-item .etl-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .etl-home-contact__links-item .etl-button {
    width: 80px;
    height: 80px;
  }
}
.etl-home-contact__links-item img {
  width: 26px;
}
@media screen and (min-width: 768px) {
  .etl-home-contact__links-item img {
    width: 48px;
  }
}