/* FONTS BY GOOGLE FONTS (https://fonts.google.com/) */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
/* BOOT CONFIG */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  font-weight: 200;
  color: #131011;
  background-color: #F6F4F5;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}

body > main {
  flex-grow: 1;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  color: #6F0231;
}

a {
  text-decoration: none;
  color: #9A0245;
  transition: all 0.3s ease 0s;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.4;
}

img {
  width: auto;
  max-width: 100%;
}

input {
  padding: 12px;
  background: none;
  border: 1px solid #131011;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}

strong {
  font-weight: 500;
}

i {
  vertical-align: middle;
}

.etl-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 12px 24px;
  background-color: #8A8A8A;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: "Cinzel", serif;
  font-size: 1.1em;
  color: #F6F4F5;
}
.etl-button:hover {
  background-color: #F6F4F5 !important;
}
.etl-button.primary {
  background-color: #9A0245;
  border-color: #9A0245;
}
.etl-button.primary:hover, .etl-button.primary.outline {
  color: #9A0245;
}
.etl-button.secondary {
  background-color: #E2BF4E;
  border-color: #E2BF4E;
  color: #131011;
}
.etl-button.secondary:hover, .etl-button.secondary.outline {
  color: #E2BF4E;
}
.etl-button.outline {
  background-color: transparent;
}
.etl-scroll-up {
  position: fixed;
  top: unset;
  left: unset;
  bottom: 0;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #131011;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s ease 0s;
}
.etl-scroll-up.visible {
  visibility: visible;
  opacity: 1;
  bottom: 20px;
}
.etl-scroll-up i {
  color: #E2BF4E;
  font-size: 1.4em;
}
.etl-page-heading {
  width: 100%;
  position: relative;
  height: 180px;
  background-color: #131011;
}
.etl-page-heading > * {
  position: relative;
  z-index: 2;
}
.etl-page-heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  mix-blend-mode: soft-light;
  background-image: url("../../../assets/images/mobile-title-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (min-width: 576px) {
  .etl-page-heading {
    position: relative;
  }
  .etl-page-heading > * {
    position: relative;
    z-index: 2;
  }
  .etl-page-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    mix-blend-mode: soft-light;
    background-image: url("../../../assets/images/tablet-title-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media screen and (min-width: 992px) {
  .etl-page-heading {
    position: relative;
  }
  .etl-page-heading > * {
    position: relative;
    z-index: 2;
  }
  .etl-page-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    mix-blend-mode: soft-light;
    background-image: url("../../../assets/images/desktop-title-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.etl-page-heading__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 20px;
  height: 100%;
}
.etl-page-heading__title h1 {
  font-size: 1.8em;
  color: #E2BF4E;
}
@media screen and (min-width: 768px) {
  .etl-page-heading__title h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) {
  .etl-page-heading__title h1 {
    font-size: 2.2em;
  }
}
.etl-section-heading {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .etl-section-heading {
    text-align: left;
  }
}
.etl-section-heading h1 {
  font-size: 1.4em;
}
@media screen and (min-width: 768px) {
  .etl-section-heading h1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 992px) {
  .etl-section-heading h1 {
    font-size: 1.8em;
  }
}
.etl-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  background-color: rgba(19, 16, 17, 0.6);
}
.etl-modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  padding: 0 20px;
  margin-inline: auto;
  width: 100%;
  transform: translate(-50%, -50%);
}
.etl-trigger {
  padding: 1px 6px;
  background-color: #8A8A8A;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border: none;
  font-size: 0.8em;
  font-weight: 500;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.etl-trigger.success {
  background-color: #76F698;
  color: #067524;
}
.etl-trigger.info {
  background-color: #8BC7F2;
  color: #064572;
}
.etl-trigger.warning {
  background-color: #FBD9A9;
  color: #B26903;
}
.etl-trigger.error {
  background-color: #F98E8E;
  color: #790707;
}
.etl-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.etl-loading__circle {
  width: 60px;
  height: 60px;
  border: 10px solid #ECDBE3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}
.etl-loading__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 10px solid transparent;
  border-top-color: #9A0245;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  animation: loading_spin 1s infinite linear;
}
@keyframes loading_spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* HEADER CONFIG */
.etl-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(#131011, rgba(19, 16, 17, 0));
  transition: all 0.3s ease 0s;
}
.etl-header.scrolling {
  background-color: #131011;
}
.etl-header.scrolling .etl-header__container {
  padding-block: 20px;
}
.etl-header.authenticated {
  background-image: none;
  background-color: #9A0245;
  color: #F6F4F5;
}
.etl-header.authenticated .etl-header__container {
  padding-block: 20px;
}
.etl-header.authenticated .etl-header__navigation {
  flex-direction: row-reverse;
}
.etl-header.authenticated .etl-header__navigation-profile {
  display: block;
}
.etl-header.authenticated .etl-header__navigation-welcome {
  display: none;
}
@media screen and (min-width: 992px) {
  .etl-header.authenticated .etl-header__navigation-welcome {
    display: block;
  }
}
.etl-header__container {
  max-width: 1260px;
  padding: 40px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 0.3s ease 0s;
}
.etl-header__logo h1 {
  display: none;
}
.etl-header__logo img {
  width: 120px;
}
@media screen and (min-width: 768px) {
  .etl-header__logo img {
    width: 160px;
  }
}
.etl-header__navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 20px;
}
@media screen and (min-width: 768px) {
  .etl-header__navigation {
    column-gap: 40px;
  }
}
@media screen and (min-width: 992px) {
  .etl-header__navigation {
    flex-direction: row-reverse;
  }
}
.etl-header__navigation.open-menu .etl-header__navigation-overlay {
  visibility: visible;
  opacity: 1;
}
.etl-header__navigation.open-menu .etl-header__navigation-menu-wrapper {
  right: 0;
}
.etl-header__navigation-profile, .etl-header__navigation-cart, .etl-header__navigation-menu-icon, .etl-header__navigation-logout {
  position: relative;
  z-index: 110;
}
.etl-header__navigation-profile > a, .etl-header__navigation-cart > a, .etl-header__navigation-menu-icon > a, .etl-header__navigation-logout > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #F6F4F5;
}
.etl-header__navigation-profile i, .etl-header__navigation-cart i, .etl-header__navigation-menu-icon i, .etl-header__navigation-logout i {
  font-size: 1.4em;
}
.etl-header__navigation-profile {
  display: none;
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-profile {
    display: block;
  }
}
.etl-header__navigation-menu-icon {
  cursor: pointer;
  color: #F6F4F5;
  font-size: 1.4em;
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-menu-icon {
    display: none;
  }
}
.etl-header__navigation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(19, 16, 17, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-overlay {
    position: static;
    visibility: visible !important;
    opacity: 1 !important;
    background: none;
  }
}
.etl-header__navigation-menu-wrapper {
  max-width: 560px;
  background-color: #9A0245;
  position: absolute;
  top: 0;
  left: unset;
  width: 100%;
  height: 100%;
  right: -100%;
  padding: 110px 20px 20px 20px;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 768px) {
  .etl-header__navigation-menu-wrapper {
    padding-inline: 60px;
  }
}
@media screen and (min-width: 992px) {
  .etl-header__navigation-menu-wrapper {
    max-width: none;
    background: none;
    position: static;
    padding: 0;
  }
}
.etl-header__main-menu {
  overflow-y: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 60px 40px;
}
@media screen and (min-width: 992px) {
  .etl-header__main-menu {
    height: auto;
    flex-direction: row;
  }
}
.etl-header__main-menu-item {
  text-align: right;
}
.etl-header__main-menu-item a {
  font-family: "Cinzel", serif;
  color: #F6F4F5;
  font-size: 2.2em;
}
@media screen and (min-width: 992px) {
  .etl-header__main-menu-item a {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 992px) {
  .etl-header__main-menu-item.last-item {
    display: none;
  }
}

/* FOOTER CONFIG */
.etl-footer {
  width: 100%;
  background-color: #131011;
  color: #F6F4F5;
  text-align: center;
}
.etl-footer__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
  row-gap: 40px;
}
.etl-footer__logo {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-footer__logo {
    flex-basis: unset;
    text-align: left;
  }
}
.etl-footer__logo img {
  width: 120px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .etl-footer__logo img {
    width: 160px;
  }
}
.etl-footer__logo-subtitle {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-size: 0.9em;
}
.etl-footer__menu {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-footer__menu {
    flex-basis: unset;
    text-align: right;
  }
}
.etl-footer__menu-title {
  margin-bottom: 20px;
}
.etl-footer__menu-title h2 {
  color: #E2BF4E;
}
.etl-footer__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px 60px;
}
@media screen and (min-width: 768px) {
  .etl-footer__menu-list {
    flex-direction: row;
  }
}
.etl-footer__menu-item a {
  font-weight: 500;
  color: #E2BF4E;
}
.etl-footer__attribution {
  padding: 20px;
  font-size: 0.7em;
}
.etl-footer__attribution a {
  font-weight: 500;
}

/* HOME PAGE CONFIG */
/* Hero section */
.etl-home-hero {
  width: 100%;
  background-image: url("../../../assets/images/mobile-hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
  color: #F6F4F5;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .etl-home-hero {
    background-image: url("../../../assets/images/tablet-hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media screen and (min-width: 992px) {
  .etl-home-hero {
    background-image: url("../../../assets/images/desktop-hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.etl-home-hero__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.etl-home-hero__subtitle {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .etl-home-hero__subtitle {
    font-size: 1.2em;
  }
}
.etl-home-hero__title {
  margin-bottom: 40px;
}
.etl-home-hero__title h1 {
  color: #E2BF4E;
  font-size: 2.2em;
}
@media screen and (min-width: 768px) {
  .etl-home-hero__title h1 {
    font-size: 3em;
  }
}
@media screen and (min-width: 992px) {
  .etl-home-hero__title h1 {
    font-size: 4em;
  }
}
.etl-home-hero__headline {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.1em;
  max-width: 480px;
  padding: 0 0;
  margin-inline: auto;
}
@media screen and (min-width: 992px) {
  .etl-home-hero__headline {
    max-width: 740px;
    font-size: 1.6em;
  }
}
.etl-home-hero__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}
@media screen and (min-width: 576px) {
  .etl-home-hero__cta {
    flex-direction: row;
  }
}
.etl-home-hero__cta .etl-button {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .etl-home-hero__cta .etl-button {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .etl-home-hero__cta .etl-button {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 992px) {
  .etl-home-hero__cta .etl-button {
    font-size: 1.8em;
  }
}

/* Presentation section */
.etl-home-presentation {
  width: 100%;
}
.etl-home-presentation__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.etl-home-presentation__item {
  flex-basis: 100%;
  background-color: #9A0245;
  text-align: center;
  color: #F6F4F5;
  max-width: 480px;
  padding: 0 0;
  margin-inline: auto;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  .etl-home-presentation__item {
    flex-basis: calc(33.3333333333% - 13.3333333333px);
  }
}
.etl-home-presentation__item:nth-child(even) {
  background-color: #6F0231;
}
.etl-home-presentation__item-image {
  width: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
}
.etl-home-presentation__item-title {
  margin-bottom: 20px;
}
.etl-home-presentation__item-title h2 {
  color: #F6F4F5;
}

.etl-home-contact {
  width: 100%;
  text-align: center;
}
.etl-home-contact__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
}
@media screen and (min-width: 992px) {
  .etl-home-contact__container {
    flex-wrap: nowrap;
  }
}
.etl-home-contact__info {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-home-contact__info {
    flex-basis: 60%;
    text-align: left;
  }
}
.etl-home-contact__title {
  margin-bottom: 40px;
}
.etl-home-contact__text {
  font-size: 1.1em;
}
.etl-home-contact__links {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-home-contact__links {
    flex-basis: 40%;
  }
}
.etl-home-contact__links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 20px;
}
@media screen and (min-width: 992px) {
  .etl-home-contact__links-list {
    justify-content: flex-end;
  }
}
.etl-home-contact__links-item .etl-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .etl-home-contact__links-item .etl-button {
    width: 80px;
    height: 80px;
  }
}
.etl-home-contact__links-item i {
  font-size: 1.6em;
}
@media screen and (min-width: 768px) {
  .etl-home-contact__links-item i {
    font-size: 3.2em;
  }
}

/* PLATES PAGE CONFIG */
.etl-plates-plates__section {
  width: 100%;
}
.etl-plates-plates__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
}
.etl-plates-plates__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.etl-plates-plates__plate {
  position: relative;
  height: 360px;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .etl-plates-plates__plate {
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (min-width: 992px) {
  .etl-plates-plates__plate {
    flex-basis: calc(33.3333333333% - 13.3333333333px);
  }
}
.etl-plates-plates__plate-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.etl-plates-plates__plate-info {
  position: absolute;
  top: unset;
  left: 20px;
  width: 100%;
  max-width: calc(100% - 40px);
  bottom: 20px;
  right: 20px;
  padding: 20px;
  background-color: rgba(226, 191, 78, 0.5019607843);
  backdrop-filter: blur(8px);
}
.etl-plates-plates__plate-name {
  margin-bottom: 10px;
}
.etl-plates-plates__plate-name h2 {
  font-family: "Cinzel", serif;
  font-size: 0.9em;
  line-height: 1;
  color: #131011;
}
.etl-plates-plates__plate-price {
  font-size: 1.8em;
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
}

.etl-plates-selected {
  background-color: #F6F4F5;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .etl-plates-selected {
    text-align: left;
  }
}
.etl-plates-selected__image {
  margin-bottom: 20px;
}
.etl-plates-selected__image img {
  width: 100%;
}
.etl-plates-selected__name, .etl-plates-selected__description {
  margin-bottom: 20px;
}
.etl-plates-selected__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 576px) {
  .etl-plates-selected__cta {
    flex-direction: row;
  }
}
.etl-plates-selected__cta-price {
  font-size: 1.8em;
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  color: #6F0231;
}
.etl-plates-selected__cta-button {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .etl-plates-selected__cta-button {
    width: auto;
  }
}

/* AUTH PAGE CONFIG - LOGIN & REGISTER */
.etl-auth-login, .etl-auth-register {
  width: 100%;
}
.etl-auth-login__container, .etl-auth-register__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
}
.etl-auth-login__redirect, .etl-auth-register__redirect {
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .etl-auth-login__redirect, .etl-auth-register__redirect {
    text-align: left;
  }
}
.etl-auth-login__form, .etl-auth-register__form {
  max-width: 480px;
  padding: 0 0;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 992px) {
  .etl-auth-login__form, .etl-auth-register__form {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .etl-auth-login .etl-button, .etl-auth-register .etl-button {
    align-self: center;
  }
}
@media screen and (min-width: 992px) {
  .etl-auth-login .etl-button, .etl-auth-register .etl-button {
    align-self: flex-start;
  }
}

/* CART PAGE CONFIG */
.etl-cart-cart__section {
  width: 100%;
}
.etl-cart-cart__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
}
.etl-cart-cart__empty {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .etl-cart-cart__empty {
    text-align: left;
  }
}
.etl-cart-cart__list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 40px;
}
.etl-cart-cart__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  column-gap: 20px;
  padding: 10px;
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__item {
    column-gap: 10px;
  }
}
.etl-cart-cart__item:nth-child(odd) {
  background-color: #ECDBE3;
}
.etl-cart-cart__item-image {
  flex-basis: 70px;
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__item-image {
    flex-basis: 120px;
  }
}
.etl-cart-cart__item-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__item-image img {
    height: 100%;
  }
}
.etl-cart-cart__item-info {
  flex-basis: calc(100% - 70px - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__item-info {
    flex-basis: calc(100% - 120px - 10px);
  }
}
@media screen and (min-width: 992px) {
  .etl-cart-cart__item-info {
    flex-wrap: nowrap;
  }
}
.etl-cart-cart__item-text {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .etl-cart-cart__item-text {
    flex-basis: unset;
  }
}
.etl-cart-cart__item-name {
  margin-bottom: 10px;
}
.etl-cart-cart__item-name h2 {
  font-size: 1.1em;
}
@media screen and (min-width: 992px) {
  .etl-cart-cart__item-name h2 {
    font-size: 1.4em;
  }
}
.etl-cart-cart__item-ingredients {
  margin-bottom: 20px;
  font-weight: 500;
}
.etl-cart-cart__item-actions {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__item-actions {
    flex-basis: unset;
  }
}
@media screen and (min-width: 992px) {
  .etl-cart-cart__item-actions {
    justify-content: flex-end;
  }
}
.etl-cart-cart__item-quantity {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__item-quantity {
    flex-basis: unset;
  }
}
.etl-cart-cart__item-quantity .button {
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__item-quantity .button {
    flex-basis: 30px;
  }
}
.etl-cart-cart__item-quantity .qt {
  flex-basis: calc(100% - 60px);
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  width: 60px;
}
.etl-cart-cart__item-button {
  flex-basis: 100%;
  padding: 6px 18px;
}
@media screen and (max-width: 350px) {
  .etl-cart-cart__item-button {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__item-button {
    flex-basis: unset;
  }
}
.etl-cart-cart__action-button {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .etl-cart-cart__action-button {
    width: auto;
  }
}

.etl-cart-checkout {
  background-color: #F6F4F5;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .etl-cart-checkout {
    text-align: left;
  }
}
.etl-cart-checkout__title, .etl-cart-checkout__text {
  margin-bottom: 20px;
}
@media screen and (min-width: 576px) {
  .etl-cart-checkout__title {
    font-size: 1.6em;
  }
}
.etl-cart-checkout__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.etl-cart-checkout__time .time {
  flex-basis: 100%;
}
@media screen and (min-width: 576px) {
  .etl-cart-checkout__time .time {
    flex-basis: unset;
  }
}
.etl-cart-checkout__time-actions {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 576px) {
  .etl-cart-checkout__time-actions {
    flex-basis: unset;
    flex-direction: row;
  }
}

/* CART PAGE CONFIG */
.etl-profile-user {
  width: 100%;
}
.etl-profile-user__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-top: 140px;
}
@media screen and (min-width: 992px) {
  .etl-profile-user__container {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.etl-profile-user__photo {
  flex-basis: 120px;
}
.etl-profile-user__photo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border: 3px solid #6F0231;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.etl-profile-user__info {
  flex-basis: 100%;
  text-align: center;
  color: #6F0231;
}
@media screen and (min-width: 992px) {
  .etl-profile-user__info {
    flex-basis: unset;
    text-align: left;
  }
}
.etl-profile-user__name {
  margin-bottom: 10px;
}

.etl-profile-orders {
  width: 100%;
}
.etl-profile-orders__container {
  max-width: 1260px;
  padding: 80px 20px;
  margin-inline: auto;
  padding-top: 0;
}
.etl-profile-orders__empty {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .etl-profile-orders__empty {
    text-align: left;
  }
}
.etl-profile-orders__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.etl-profile-orders__order {
  flex-basis: 100%;
  background-color: #9A0245;
  color: #F6F4F5;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .etl-profile-orders__order {
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (min-width: 992px) {
  .etl-profile-orders__order {
    flex-basis: calc(33.3333333333% - 13.3333333333px);
  }
}
.etl-profile-orders__order:nth-child(even) {
  background-color: #6F0231;
}
.etl-profile-orders__order-status {
  margin-bottom: 20px;
}
.etl-profile-orders__order-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 20px;
}
.etl-profile-orders__order-image {
  flex-basis: 60px;
}
.etl-profile-orders__order-image img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.etl-profile-orders__order-info {
  flex-basis: calc(100% - 60px - 20px);
}
.etl-profile-orders__order-name {
  margin-bottom: 10px;
}
.etl-profile-orders__order-name h2 {
  color: inherit;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 500;
}
.etl-profile-orders__order-portions {
  font-size: 0.8em;
}